<div hlmSidebarWrapper class="border-r-0">
  <hlm-sidebar collapsible="icon">
    <div hlmSidebarHeader>
      <a class="flex items-center gap-3 p-1" routerLink="/app/dashboard">
        <img src="assets/images/logos/IDFLab_white.png" alt="IDFLab" class="w-9" />
        <span class="font-bold text-2xl group-data-[collapsible=icon]:hidden">IDFLab</span>
      </a>
      <div hlmSidebarSeparator></div>
    </div>
    <div hlmSidebarContent>
      <div hlmSidebarGroup>
        <div hlmSidebarGroupContent>
          <ul hlmSidebarMenu>
            @for(item of items; track item.title){
            <li hlmSidebarMenuItem>
              <a hlmSidebarMenuButton [routerLink]="item.url" routerLinkActive="bg-sidebar-accent">
                <ng-icon hlm [name]="item.icon" />
                <span>{{ item.title }}</span>
              </a>
            </li>
            }
          </ul>
          <div hlmSidebarSeparator></div>
        </div>
      </div>
      <div hlmSidebarGroup class="group-data-[collapsible=icon]:hidden">
        <div hlmSidebarGroupContent>
          <ul hlmSidebarMenu>
            <hlm-collapsible [expanded]="true" class="group/collapsible">
              <li hlmSidebarMenuItem>
                <button
                  hlmCollapsibleTrigger
                  hlmSidebarMenuButton
                  class="flex w-full items-center justify-between"
                >
                  <span>Projetos Recentes</span>
                  <ng-icon
                    name="lucideChevronRight"
                    class="ml-auto transition-transform group-data-[state=open]/collapsible:rotate-90"
                    hlm
                  />
                </button>
                <hlm-collapsible-content>
                  @if (!state().loading) {
                  <ul hlmSidebarMenuSub>
                    @for (project of state().projects; track project.id) {
                    <li hlmSidebarMenuSubItem>
                      <a
                        hlmSidebarMenuSubButton
                        class="flex h-auto w-full items-start gap-2 py-2"
                        [routerLink]="['/app/analysis', project.id]"
                        routerLinkActive="bg-sidebar-accent"
                      >
                        <div class="flex flex-col text-left overflow-hidden w-full">
                          <span class="truncate text-sm font-medium leading-tight">
                            {{ project.station_name }}
                          </span>

                          <span class="text-xs text-(--color-grey-light) mt-0.5">
                            {{ project.created_at | date:'dd/MM/yyyy' }}
                          </span>
                        </div>
                      </a>
                    </li>
                    }
                  </ul>
                  <ul *ngIf="state().projects.length === 0" hlmSidebarMenuSub>
                    <div
                      class="mx-3 flex flex-col items-center justify-center rounded-lg px-4 py-8 text-center"
                    >
                      <div
                        class="mb-3 flex h-10 w-10 items-center justify-center rounded-full bg-primary/20"
                      >
                        <ng-icon
                          name="lucideFolder"
                          class="text-xl text-muted-foreground/40"
                        ></ng-icon>
                      </div>
                      <span class="mb-5 text-xs text-(--sidebar-text-muted)">
                        Nenhum projeto salvo
                      </span>
                    </div>
                  </ul>
                  }
                </hlm-collapsible-content>
              </li>
            </hlm-collapsible>
          </ul>
        </div>
      </div>
    </div>
    <div hlmSidebarFooter class="px-2 py-4 group-data-[collapsible=icon]:hidden">
      <div hlmSidebarSeparator></div>
      <span class="text-xs text-(--sidebar-text-muted) mt-2 ml-4">IDFLab v1.0.0 &copy; 2026</span>
    </div>
  </hlm-sidebar>
  <ng-content />
</div>
