<div class="flex w-full items-start">
  @for (step of steps; track step.path; let i = $index; let isLast = $last) {
  <div class="relative flex flex-1 flex-col items-center">
    @if (!isLast) {
    <div class="absolute left-1/2 top-1.5 z-0 h-px w-full bg-border"></div>

    <div
      class="absolute left-1/2 top-1.5 z-0 h-px bg-primary origin-left transition-all duration-300 ease-out"
      [ngClass]="{
          'w-full': stepState(i) === 'completed',
          'w-0': stepState(i) !== 'completed'
        }"
    ></div>
    }

    <a
      [routerLink]="getStepLink(step, stepState(i))"
      (click)="onStepClick(step)"
      class="relative z-10 flex flex-col items-center gap-1.5 outline-none group"
      [class.cursor-default]="stepState(i) === 'upcoming'"
      [class.pointer-events-none]="stepState(i)
      === 'upcoming'"
    >
      <span
        class="flex h-2.5 w-2.5 mt-px items-center justify-center rounded-full transition-all duration-300 origin-center"
        [ngClass]="{
          'bg-primary': (stepState(i) === 'active') || (stepState(i) === 'completed'),
          'ring-[3px] ring-primary/20 h-3 w-3': (stepState(i) === 'active'),
          'bg-background border border-muted-foreground/40 group-hover:border-primary/50': stepState(i) === 'upcoming'
        }"
      ></span>

      <span
        class="text-sm whitespace-nowrap transition-colors duration-300"
        [ngClass]="{
          'text-primary font-medium': stepState(i) === 'completed',
          'text-primary font-bold': stepState(i) === 'active',
          'text-muted-foreground font-normal': stepState(i) === 'upcoming'
        }"
      >
        {{ step.label }}
      </span>
    </a>
  </div>
  }
</div>
