.inmet {
  background-color: color-mix(in srgb, var(--inmet) 12%, transparent);
  color: var(--inmet);
}
.cemaden {
  background-color: color-mix(in srgb, var(--cemaden) 12%, transparent);
  color: var(--cemaden);
}
.ana {
  background-color: color-mix(in srgb, var(--ana) 12%, transparent);
  color: var(--ana);
}
