.theme-toggle {
  .toggle-btn {
    position: relative;

    display: block;
    box-sizing: border-box;
    padding: 0;

    width: 64px;
    height: 32px;
    border-radius: 999px;
    border: 1px solid var(--border-alt);
    background: var(--color-primary-800);
    cursor: pointer;

    .icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s ease;
      opacity: 0.5;
      color: var(--color-grey-light);
      z-index: 1;

      &.active {
        opacity: 1;
        color: var(--color-white);
      }
    }

    .sun {
      left: 9px;
    }

    .moon {
      right: 9px;
    }

    .slider {
      position: absolute;
      top: 3px;
      left: 4px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: var(--color-primary-600);
      transition: all 0.3s ease;
      z-index: 0;

      &.dark {
        left: calc(100% - 28px);
      }

      &.no-transition {
        transition: none;
      }
    }
  }

  &.fixed {
    position: absolute;
    top: 24px;
    right: 24px;

    .toggle-btn {
      border: 1px solid var(--surface);
      background: var(--surface);

      .icon {
        color: var(--icon);

        &.active {
          color: var(--primary);
        }
      }

      .slider {
        background: var(--primary);
      }
    }
  }
}
