.theme-toggle {
  .toggle-btn {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 0;

    width: 64px;
    height: 32px;
    border-radius: 999px;

    border: 1px solid var(--primary-700);
    background: var(--primary-800);
    cursor: pointer;

    .icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s ease;
      opacity: 0.5;

      color: var(--neutral-400);
      z-index: 1;

      &.active {
        opacity: 1;
        color: var(--neutral-50);
      }
    }

    .sun {
      left: 9px;
    }

    .moon {
      right: 9px;
    }

    .slider {
      position: absolute;
      top: 3px;
      left: 4px;
      width: 24px;
      height: 24px;
      border-radius: 50%;

      background: var(--primary-600);
      transition: all 0.3s ease;
      z-index: 0;

      &.dark {
        left: calc(100% - 28px);
      }

      &.no-transition {
        transition: none;
      }
    }
  }

  &.fixed {
    position: absolute;
    top: 24px;
    right: 24px;

    .toggle-btn {
      border: 1px solid var(--background);
      background: var(--background);

      .icon {
        color: var(--muted-foreground);

        &.active {
          color: var(--primary);
        }
      }

      .slider {
        background: var(--primary);
      }
    }
  }
}
