<header
  class="flex items-center justify-between h-12 px-6 bg-(--color-primary-800) z-10 transition-all duration-300 ease-out"
  [class.sidebar-collapsed]="mainLayoutService.isSidebarCollapsed()"
>
  <div class="flex items-center gap-6">
    <button hlmSidebarTrigger variant="ghost" class="h-8 w-8 px-0">
      <span class="sr-only"></span>
    </button>
    <nav hlmBreadcrumb class="breadcrumb">
      <ol hlmBreadcrumbList>
        <ng-container *ngFor="let crumb of breadcrumbs; let last = last">
          <li hlmBreadcrumbItem>
            <a *ngIf="!last" hlmBreadcrumbLink [href]="crumb.url || '#'"> {{ crumb.label }} </a>
            <span *ngIf="last" hlmBreadcrumbPage> {{ crumb.label }} </span>
          </li>
          <li hlmBreadcrumbSeparator *ngIf="!last"></li>
        </ng-container>
      </ol>
    </nav>
  </div>

  <div class="flex items-center gap-5">
    <div class="relative">
      <button
        class="group flex items-center gap-2 px-3 py-1.5 rounded-md bg-transparent text-white transition-colors hover:bg-sidebar-accent cursor-pointer"
        [hlmDropdownMenuTrigger]="menuLanguage"
      >
        <ng-icon name="lucideGlobe" class="text-[16px] text-(--color-grey-light)"></ng-icon>
        <span class="text-[13px]">{{ language }}</span>

        <ng-icon
          name="lucideChevronDown"
          class="text-[14px] text-(--color-grey-light) transition-transform duration-200 -rotate-90 group-aria-expanded:rotate-0"
        ></ng-icon>
      </button>

      <ng-template #menuLanguage>
        <hlm-dropdown-menu class="w-42">
          <hlm-dropdown-menu-group>
            <hlm-dropdown-menu-label>Idioma</hlm-dropdown-menu-label>
            <hlm-dropdown-menu-separator />
            <button
              hlmDropdownMenuRadio
              [checked]="language === 'EN'"
              (triggered)="setLanguage('EN')"
            >
              <hlm-dropdown-menu-radio-indicator />
              <span>English</span>
            </button>
            <button
              hlmDropdownMenuRadio
              [checked]="language === 'PT-BR'"
              (triggered)="setLanguage('PT-BR')"
            >
              <hlm-dropdown-menu-radio-indicator />
              <span>Português (BR)</span>
            </button>
          </hlm-dropdown-menu-group>
        </hlm-dropdown-menu>
      </ng-template>
    </div>

    <div class="w-px h-6 bg-(--border-alt)"></div>

    <app-theme-toggle [isFixed]="false"></app-theme-toggle>

    <button
      class="relative flex items-center justify-center p-1.5 rounded-md bg-transparent text-(--color-grey-light) transition-colors hover:bg-sidebar-accent cursor-pointer"
      aria-label="Notifications"
    >
      <ng-icon name="lucideBell" class="text-lg"></ng-icon>
    </button>

    <div class="w-px h-6 bg-(--border-alt)"></div>

    <div class="relative group" [hlmDropdownMenuTrigger]="menuProfile">
      <button
        class="flex items-center gap-3 px-3 py-1 rounded-md bg-transparent text-white transition-colors hover:bg-sidebar-accent cursor-pointer"
      >
        <hlm-avatar class="h-8 w-8 text-xs">
          <img hlmAvatarImage src="/assets/avatar.png" alt="" *ngIf="false" />
          <span hlmAvatarFallback>{{ userInitials() }}</span>
        </hlm-avatar>
        <span class="text-sm font-light" *ngIf="user()?.name">{{ user()?.name }}</span>
        <hlm-spinner *ngIf="!user()?.name" data-icon="inline-start" class="w-4 h-4" />

        <ng-icon
          name="lucideChevronDown"
          class="text-[14px] text-(--color-grey-light) transition-transform duration-200 -rotate-90 group-aria-expanded:rotate-0"
        ></ng-icon>
      </button>

      <ng-template #menuProfile>
        <hlm-dropdown-menu class="w-43">
          <button hlmDropdownMenuItem>Perfil</button>
          <hlm-dropdown-menu-separator />
          <button hlmDropdownMenuItem (click)="logout()">Sair</button>
        </hlm-dropdown-menu>
      </ng-template>
    </div>
  </div>
</header>
