<div class="mx-auto flex w-115 max-w-115 flex-col gap-6 p-4">
  <div class="flex flex-col items-center gap-2">
    <h1 class="mb-0 text-center">Entrar no IDFLab</h1>

    <p class="text-sm text-muted-foreground text-center">
      Informe suas credenciais para acessar a plataforma
    </p>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-5">
    <div class="flex flex-col gap-2">
      <label hlmFieldLabel for="email">E-mail</label>
      <hlm-input-group>
        <input
          hlmInputGroupInput
          type="email"
          id="email"
          formControlName="email"
          autocomplete="email"
          [class.border-destructive]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
        />
        <hlm-input-group-addon>
          <ng-icon name="lucideMail" class="text-muted-foreground"></ng-icon>
        </hlm-input-group-addon>
      </hlm-input-group>
      <p
        class="text-destructive text-xs font-normal"
        *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched"
      >
        Informe um e-mail válido
      </p>
    </div>

    <div class="flex flex-col gap-2">
      <label hlmFieldLabel for="password" class="">Senha</label>
      <hlm-input-group>
        <input
          hlmInputGroupInput
          type="password"
          id="password"
          formControlName="password"
          autocomplete="current-password"
          [class.border-destructive]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
        />
        <hlm-input-group-addon>
          <ng-icon name="lucideLock" class="text-muted-foreground"></ng-icon>
        </hlm-input-group-addon>
      </hlm-input-group>
      <p class="mt-1 text-destructive text-xs font-normal" *ngIf="errorMessage">
        {{ errorMessage }}
      </p>
      <a
        [routerLink]="['/auth/forgot-password']"
        [queryParams]="{ email: loginForm.get('email')?.value }"
        class="text-xs text-right font-medium text-primary hover:underline"
      >
        Esqueci minha senha
      </a>
    </div>

    <button hlmBtn class="w-full mt-2" type="submit" [disabled]="isLoading">
      <hlm-spinner *ngIf="isLoading" data-icon="inline-start" />
      {{ isLoading ? 'Entrando...' : 'Entrar' }}
    </button>

    <div class="relative my-2">
      <div class="absolute inset-0 flex items-center">
        <span class="w-full border-t border-border"></span>
      </div>
      <div class="relative flex justify-center text-xs">
        <span class="bg-background px-2 text-muted-foreground">Ou</span>
      </div>
    </div>

    <button hlmBtn variant="outline" type="button" class="w-full" (click)="loginWithGoogle()">
      <img src="assets/icons/google.svg" width="16" height="16" class="mr-2" alt="" />
      Continuar com o Google
    </button>

    <p class="text-center text-sm text-muted-foreground">
      Não tem uma conta?
      <a routerLink="/auth/register" class="font-medium text-primary hover:underline"
        >Criar conta</a
      >
    </p>
  </form>
</div>

<app-theme-toggle></app-theme-toggle>
