@import 'tailwindcss';
@import '@spartan-ng/brain/hlm-tailwind-preset.css';

@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  h1 {
    @apply mb-12 text-[2rem] font-bold leading-[1.2] tracking-[-0.02em] text-foreground;
  }
}

@layer components {
  .icon-circle-wrapper {
    @apply flex items-center justify-center rounded-full p-5 bg-primary/10 text-primary;
  }
}

:root {
  --font-sans: 'Inter', sans-serif;
}
