@import 'tailwindcss';
@import '@spartan-ng/brain/hlm-tailwind-preset.css';

@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  h1 {
    @apply mb-12 text-[2rem] font-bold leading-[1.2] tracking-[-0.02em] text-foreground;
  }
}

@layer components {
  .icon-circle-wrapper {
    @apply flex items-center justify-center rounded-full p-5 bg-primary/10 text-primary;
  }
}

/* DARK THEME */
:root {
  color-scheme: dark;
  --font-sans: 'Inter', sans-serif;
  --radius: 0.5rem;

  --background: oklch(15.91% 0 0);
  --foreground: oklch(0.96 0 0);

  --card: oklch(0.12 0 0);
  --card-foreground: oklch(0.96 0 0);

  --popover: oklch(0.12 0 0);
  --popover-foreground: oklch(0.96 0 0);

  --primary: oklch(0.42 0.07 240);
  --primary-foreground: oklch(0.96 0 0);

  --secondary: oklch(0.22 0.04 240);
  --secondary-foreground: oklch(0.96 0 0);

  --muted: oklch(0.29 0.06 240);
  --muted-foreground: oklch(0.75 0 0);

  --accent: oklch(0.29 0.06 240);
  --accent-foreground: oklch(0.96 0 0);

  --destructive: oklch(0.577 0.245 27);
  --white: #f2f2f2;

  --border: oklch(0.29 0.06 240 / 60%);
  --input: oklch(0.29 0.06 240 / 60%);
  --ring: oklch(0.42 0.07 240);

  --sidebar: #1e2a3f;
  --sidebar-foreground: oklch(0.96 0 0);
  --sidebar-primary: oklch(0.42 0.07 240);
  --sidebar-primary-foreground: oklch(0.96 0 0);
  --sidebar-accent: rgba(73, 98, 139, 0.16);
  --sidebar-accent-foreground: oklch(0.96 0 0);
  --sidebar-border: rgba(42, 60, 88, 0.6);
  --sidebar-ring: oklch(0.42 0.07 240);
  --sidebar-text-muted: rgba(242, 242, 242, 0.7);
}

/* LIGHT THEME */
[data-theme='light'] {
  color-scheme: light;

  --background: oklch(97.02% 0 0);
  --foreground: oklch(0.14 0 0);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.14 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.14 0 0);

  --primary: oklch(0.42 0.07 240);
  --primary-foreground: oklch(0.96 0 0);

  --secondary: oklch(0.93 0 0);
  --secondary-foreground: oklch(0.14 0 0);

  --muted: oklch(0.93 0 0);
  --muted-foreground: oklch(0.45 0 0);

  --accent: oklch(0.93 0 0);
  --accent-foreground: oklch(0.14 0 0);

  --destructive: oklch(0.577 0.245 27);

  --border: oklch(0.83 0 0);
  --input: oklch(0.83 0 0);
  --ring: oklch(0.42 0.07 240);
}
