<div
  class="h-full flex flex-col rounded-xl border border-border bg-popover font-semibold text-foreground text-sm"
>
  <h3 class="flex items-center gap-1.5 tracking-wide border-b border-border p-4 uppercase">
    Precipitações diárias máximas anuais · {{firstYear()}} - {{lastYear()}}
  </h3>

  <app-annual-max-overview-chart [data]="yearly_summary()"></app-annual-max-overview-chart>

  <div>
    <div class="flex items-center mb-4 px-8">
      <div class="flex-1 border-t border-border"></div>

      <span class="px-4 tracking-wide uppercase">
        Série temporal de precipitação diária · {{ rangeLabel() }}</span
      >

      <div class="flex-1 border-t border-border"></div>
    </div>
  </div>

  <app-time-series-detail-chart [data]="detail()"></app-time-series-detail-chart>
</div>
