<div
  class="h-full flex flex-col rounded-xl border border-(--border-subtle) bg-(--surface) font-semibold text-(--text) text-sm"
>
  <h3
    class="flex items-center gap-1.5 tracking-wide border-b border-(--border-subtle) p-4 uppercase"
  >
    Série temporal
    <span>·</span>
    <span>{{ rangeLabel() }}</span>
  </h3>
  <app-time-series-detail-chart [data]="detail()"></app-time-series-detail-chart>

  <div>
    <div class="flex items-center mb-4 px-8">
      <div class="flex-1 border-t border-(--border-subtle)"></div>

      <span class="px-4 tracking-wide uppercase">
        Máximos Anuais · Visão Geral {{firstYear()}} - {{lastYear()}}</span
      >

      <div class="flex-1 border-t border-(--border-subtle)"></div>
    </div>
  </div>

  <app-annual-max-overview-chart [data]="yearly_summary()"></app-annual-max-overview-chart>
</div>
