@use '../../../../../styles/components/auth-form';

h1 {
  margin-bottom: 1rem;
}

.subtitle {
  color: #a0a0a0; /* Um tom de cinza suave para não ofuscar o título */
  font-size: 0.95rem; /* Um pouco menor que o texto padrão */
  line-height: 1.5;
  margin-bottom: 3rem;
}
